
.title {
  display: inline-block;
  margin: 16px 16px 16px 0;
  font-family: monospace;
  font-size: 80px;
  color: #1c476b;
}

.logo {
  display: inline-block;
  margin-right: -8px;
  height: 48px;
}
