
.floorplan-name {
  margin: 0;
  text-align: center;
  color: #1c476b;
  font-size: 48px;
}

.editor-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.editor-panel > button + button {
  margin-left: 16px;
}

.floorplan-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floorplan-map-wrapper {
  margin-bottom: 16px;
  padding: 8px;
  background-color: white;
  border: 2px solid #1c476b;
  border-radius: 4px;
}

.location-point:hover {
  fill: blue;
}

.tooltip-wrapper {
  position: absolute;
  background-color: #fcf7ef;
  padding: 8px;
  border: 4px solid #1c476b;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0,0,0,1);
  box-shadow: 4px 4px 16px 0px rgba(0,0,0,1);
}

.tooltip-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tooltip-editor > * {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.tooltip-editor-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.tooltip-editor-buttons > button {
  width: 80px;
}

.tooltip-editor-buttons > button + button{
  margin-left: 16px;
}

.delete-warning {
  text-align: center;
}

.delete-button {
  background-color: pink;
}

.delete-button:hover {
  background-color: #dc7272;
}

.location-filter-wrapper {
  margin-bottom: 20px;
}

.location-title {
  text-align: center;
  color: #1c476b;
}

.location-list {
  margin: 24px 0 16px 0; 
  height: 200px;
  overflow: auto;
  background-color: white;
  border: 2px solid #1c476b;
  border-radius: 4px;
  padding: 8px;
}

.location-list-info {
  margin: 0; 
  padding: 8px;
}

.location-list-info:hover {
  cursor: pointer;
  background-color: #c9e2f7;
}

.form-name-input {
  margin-right: 8px;
}

.form-select-type {
  margin-right: 8px;
}

